header{
    display: flex;
    justify-content: center;
    gap: 100px;
}
main{
    display: flex;
    flex-direction: column;
    margin: 10%;
    text-align: center;
    background-color: rgb(231, 230, 143);
    border-radius: 8px;
}

#logo_site{
    width: 200px;
    height: 100px;
}

.formAdoção{
    align-items: center;
    
}